@import "color";


// OverView

.overview-header {
    box-sizing: border-box;
    border: 1px solid navy;
    width: max-content;
    height: 10vh;
}

.overview-header-info {
    box-sizing: border-box;
    width: max-content;
}

.overview-sider {
    box-sizing: border-box;
    border: 1px solid navy;
    width: max-content;
    padding: 10px;
    height: 85vh;
}

.overview-content {
    box-sizing: border-box;
    border: 1px solid navy;
    width: max-content;
    padding: 10px;
    height: 85vh
}

.overview-footer {
    box-sizing: border-box;
    border: 1px solid navy;
    width: max-content;
    padding: 10px;
    height: 5vh;
}


// MultiView

.multiview-content {
    box-sizing: border-box;
    border: 1px solid navy;
    width: max-content;
    padding: 10px;
    height: 94vh;
    overflow-y: scroll;
}

.multiview-footer {
    box-sizing: border-box;
    border: 1px solid navy;
    width: max-content;
    padding: 10px;
    height: 6vh;
}

.multiview-cell {
    box-sizing: border-box;
    border: 1px solid navy;
    width: max-content;
    padding: 10px;
    overflow-y: scroll;
}

.multiview-micro {
    box-sizing: border-box;
    border: 1px solid black;
    width: max-content;
    padding: 10px;
    overflow-y: scroll;
}


// UploadView

.uploadview-cell {
    box-sizing: border-box;
    border: 1px solid navy;
    width: max-content;
    padding: 10px;
    overflow-y: scroll;
    height: 95vh;
}

.uploadview-footer {
    box-sizing: border-box;
    border: 1px solid navy;
    width: max-content;
    padding: 10px;
    height: 5vh;
}


// CollectionView

.collectionview-content {
    box-sizing: border-box;
    border: 1px solid navy;
    width: max-content;
    padding: 10px;
    height: 95vh;
}

.collectionview-footer {
    box-sizing: border-box;
    border: 1px solid navy;
    width: max-content;
    padding: 10px;
    height: 5vh;
}

.collectionview-cell {
    box-sizing: border-box;
    border: 1px solid navy;
    width: max-content;
    padding: 10px;
    overflow-y: scroll;
}

.collectionview-micro {
    box-sizing: border-box;
    border: 1px solid black;
    width: max-content;
    padding: 10px;
    overflow-y: scroll;
}
